/* global variable */
:root {
  --font-family: Arial, Helvetica, sans-serif;
  --golden-color: #FFD700;
  --golden-color-rgb: rgb(255, 253, 0);
  --text-toupppercase: uppercase;
  --white: #fff;
}
.golden-color{
  color: var(--golden-color);
}
.golden-color-grb{
  background-color: var(--golden-color-rgb);
}
.touppercase{
  text-transform: var(--text-toupppercase);
}


/* body */
body {
  font-family: Arial;
  text-align: center;
  padding-top: 50px;    
  background-image: url('/assets/bg-default.jpg');   
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

/* logo */
#img-logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 120px;
  padding: 10px;
}
.logo {
  width: 100%;
  height: auto;
}

/* heading */
.main-heading{
  padding: 30px 0;
  margin: 30px 0;
  font-weight: 700;
}
h1{
  font-size: 60px;
}

/* result number */
#result-number {
  margin: 30px 0; 
  font-size: 32px; 
  font-weight: bold;
  color: var(--white); 
}

/* cube number section */
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  perspective: 1200px;
  margin: 25px 0 50px 0;
}
.cube-stand,
.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  border: 1px hidden #aaa;
  transform: rotateX(0deg) rotateY(0deg);
  background-color: rgb(38, 63, 191);
  color: var(--white);
}
.cube-stand .face,
.cube .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  backface-visibility: hidden;
  border: 2px solid #aaa;
  background-color: rgb(38, 63, 191);
}

.cube-stand .front,.cube .front  { transform: translateZ(50px); }
.cube-stand .back,.cube .back   { transform: rotateY(180deg) translateZ(50px); }
.cube-stand .top,.cube .top    { transform: rotateX(90deg) translateZ(50px); }
.cube-stand .bottom,.cube .bottom { transform: rotateX(-90deg) translateZ(50px); }
.cube-stand .left,.cube .left   { transform: rotateY(-90deg) translateZ(50px); }
.cube-stand .right,.cube .right  { transform: rotateY(90deg) translateZ(50px); }

.cube.rotate {
  /* Xoay quanh trục X vô hạn với tốc độ 10 vòng/giây */
  animation: rotateCubeX 0.1s linear infinite; /* 10 vòng/giây = 1000ms/10 = 0.1s */
}

@keyframes rotateCubeX {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to   { transform: rotateX(120deg) rotateY(0deg); } /* 10 vòng = 3600 độ */
}


.btn-quayso{
  border: none;
  border-radius: 5px;
  padding: 15px 120px;
  box-shadow: 1px 1px 5px #000;
  font-size: 24px;
  font-style: bold;
}

/* button container */
#button-container {
  margin: 40px 10px;
  padding: 20px;
}

.btn {
  border: none;
  padding: 20px;
}
#button-container .btn:hover {
  opacity: 0.7;
}

.custom-bg {
  color: var(--white);
  margin-top: 40px;
  padding-top: 120px;
}