/* global variable */
:root {
  --font-family: Arial, Helvetica, sans-serif;
  --golden-color: #FFD700;
  --golden-color-rgb: rgb(255, 253, 0);
  --text-toupppercase: uppercase;
  --white: #fff;
  --black: #000;
}
.golden-color{
  color: var(--golden-color);
}
.golden-color-grb{
  background-color: var(--golden-color-rgb);
}
.touppercase{
  text-transform: var(--text-toupppercase);
}


/* body */
body {
  font-family: Arial;
  text-align: center;
  padding-top: 50px;    
  background-image: url('/assets/bg-default.jpg');   
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

/* logo */
#img-logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 120px;
  padding: 10px;
}
.logo {
  width: 100%;
  height: auto;
}

/* heading */
.main-heading{
  padding: 30px 0;
  margin: 30px 0;
  font-weight: 700;
}
h1{
  font-size: 36px;
}

/* result number */
#result-number {
  margin: 40px 0 40px 0; 
  font-size: 28px; 
  font-weight: bold;
  color: var(--golden-color); 
}
span{
  font-size: 52px!important;
}

/* button quay so */
.btn-quayso {
  border: none;
  border-radius: 5px;
  padding: 15px 120px;
  box-shadow: 1px 1px 5px #000;
  font-size: 24px;
  font-style: bold;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Thêm transition cho background-color, color và box-shadow */
}

.btn-quayso:hover {
  background-color: rgb(214, 166, 51); /* Màu vàng gold đậm hơn khi hover */
  color: #ccc; /* Chữ trắng khi hover */
  box-shadow: 6px 6px 30px #000; /* Hiệu ứng bóng đổ rõ hơn khi hover */
  cursor: pointer; /* Hiển thị con trỏ tay khi hover để báo hiệu có thể tương tác */
}

.btn-quayso:focus {
  outline: none; /* Loại bỏ viền focus mặc định của trình duyệt */
  background-color: #e6c000; /* Màu vàng gold nhạt hơn khi focus */
  color: #fff;
  box-shadow: 1px 1px 3px #000; /* Hiệu ứng bóng đổ nhẹ hơn khi focus */
}

.touppercase {
  text-transform: uppercase; /* Đảm bảo chữ luôn in hoa */
}

.golden-color-grb {
  background: linear-gradient(to right, #fdd835, #ffeb3b, #fdd835); /* Hiệu ứng gradient màu gold */
  color: #333; /* Màu chữ mặc định */
}

/* button container */
#button-container {
  margin: 80px 0 40px 0;
  padding: 20px;
  color: var(--white)!important;
}

#button-container .btn {
  border: none;
  padding: 40px;
  text-decoration: none;
}
#button-container .btn .ti-close,
#button-container .btn .ti-list,
#button-container .btn .ti-save{
  color: var(--golden-color);
  padding: 0 20px;
}
#button-container .btn:hover {
  opacity: 0.7;
}

.custom-bg {
  color: var(--white);
  margin-top: 40px;
  padding-top: 120px;
}

/* FadeIn Transition */
.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* Zoom In */
.zoom-in {
  animation: zoomIn 1s ease-in-out forwards;
}

@keyframes zoomIn {
  from { transform: scale(0.1); opacity: 0; }
  to { transform: scale(1); opacity: 1;}
}


/* game container - img + animation */
.container {
  display: flex;
  overflow: hidden;
  height: auto;
  justify-content: center;
  margin: 40px 0;
}

.item-container {
  position: relative; /* Để định vị tuyệt đối cho số */
  flex-shrink: 0;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.item-container.special {
  margin-right: 0;
}

.heart-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.heart-img-special {
  width: 150%!important; /* Để ảnh lớn hơn vùng chứa */
  height: 150%!important; /* Để ảnh lớn hơn vùng chứa */
  object-fit: cover;
}
.image-container {
  width: 300px; /* Điều chỉnh kích thước vùng chứa ảnh */
  height: auto; /* Để chiều cao tự động theo tỷ lệ ảnh */
  overflow: hidden; /* Ẩn phần ảnh bị tràn ra ngoài khi phóng to */
}

.animated-image {
  width: 100%;
  height: auto;
  transform-origin: center center; /* Đặt tâm biến đổi ở giữa ảnh */
  animation: zoomInOut 1s infinite alternate; /* Gọi animation, thời gian lặp, và hướng lặp */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Kích thước ban đầu */
  }
  100% {
    transform: scale(1.5); /* Kích thước khi phóng to (điều chỉnh theo ý muốn) */
  }
}
.number {
  position: absolute; /* Hiển thị số ở giữa trái tim */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: var(--white);
}
